<h1> Our Partners  </h1>
<% @sellers.each do |seller| %>
  <% seller.img %>
  Name: <%= seller.name %>
  Description: <% seller.description %>
  <%= link_to 'More details', seller_path(seller) %>
<% end %>
