
<h4> Our Partners  </h4>
<hr>

<% @sellers.each do |seller| %>
  <% seller.img %>
  Name: <%= seller.name %>
  <%#= console %>
  Description: <%= seller.description %>
  <br>
  <%= link_to 'More details', seller_path(seller) %>

  
<% end %>
