
<div>
<p>
<% if user_signed_in? %>
  <p>You are logged in as:
  <%= current_user.full_name %>
   </p>
   <p> Your email: <%= current_user.email %> </p>
   <button class="waves-effect #00695c teal darken-3 btn-small"><%= link_to "Update User", edit_user_registration_path %></button> 
   <div class="divider"></div>
   <h5>Orders History </h5>
   
  <% end %>
</div>

