<h2>item1</h2>
<h2>item2</h2>
<h2>item3</h2>
<h2>item4</h2>
<h2>Total</h2>
<h3>Current Address</h3>
<div id="map">
  <form >
    <input type="submit" value="Get location">
  </form>
</div>
<script
      src="https://maps.googleapis.com/maps/api/js?key=#{ENV[API_KEY]}"
      async
      defer
    ></script>
