<footer class="page-footer #33691e light-green darken-4">
  <div class="container">
    <div class="row">
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">about</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link to ma3roof</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">contact</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">twitter acount</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Support Email</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2018 Copyright
    </div>
  </div>
</footer>
