

                 <footer class="page-footer #33691e light-green darken-4">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h6 class="white-text">Links</h6>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">About</a></li>
                </ul>
              </div>
              <div class="col l4 offset-l2 s12">
                <p>Email Us <a href="mailto:hayamousa0088@gmail.com?Subject=Hello%20again" target="_top">  <i class="material-icons small">email</i>
</a>
</p></p>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2018 Copyright 
            </div>
          </div>
        </footer>
